
<h1>Heroe</h1>

<dl>
  <!-- descripcion principal o titulo -->
  <td>Nombre:</td>
  <!-- Lista de atributos -->
  <!-- Interpolacion es corchetes dobles con el nombre de la variable -->
  <dd>{{name}}</dd>

  <td>Edad:</td>
  <dd>{{age}}</dd>

  <td>metodo:</td>
  <dd> {{getheroDescription()}} </dd>

  <td>capitalizado:</td>
  <dd>{{capitalizedName}}</dd>
</dl>
<!-- lo que esta dentro de class se importa desde boostrap -->

<button
  *ngIf="name !== 'Spiderman' "
  class="btn btn-success mx-4"
  (click)="changehero()">
  Cambiar nombre
</button>


<button

  *ngIf="age !== 35"
  class="btn btn-success "
  (click)="ChangeAge()">
  Cambiar edad
</button>

<button
  class="btn btn-success mx-4"
  (click)="
  Reset()">
  Reiniciar
</button>
