
<h1>{{name}}</h1>

<dl>
  <!-- descripcion principal o titulo -->
  <td>Nombre:</td>
  <!-- Lista de atributos -->
  <!-- Interpolacion es corchetes dobles con el nombre de la variable -->
  <dd>{{name}} </dd>

  <td>Edad:</td>
  <dd>{{age}} </dd>

  <td>metodo:</td>
  <dd>metodo </dd>

  <td>capitalizado:</td>
  <dd>nombre capitalizado </dd>
</dl>
<!-- lo que esta dentro de class se importa desde boostrap -->
<button class="btn btn-success mx-4">Cambiar nombre</button>
<button class="btn btn-success">Cambiar edad</button>
