<h1> Ingreso de Inventario </h1>
<hr>


<div class="row">

  <!-- Listado -->
  <div class="col">
    <!-- aca le mando la estructura de caracterList y la "bd" o informnacion en characters mando la lista -->
    <dbz-list
    [caracterList]="dbzService.characters"
    (OnDelete)="dbzService.onDeleteCharacter($event)"
    >
  </dbz-list>

  </div>

  <!-- Formulario -->
  <div class="col">
    <!-- aca indico atrubuto llaves cuadradas y parentesis eventos aca agrego un nuevo articulo -->
    <dbz-add-character (onNewCharacter)="dbzService.onNewCharacterAccion($event)" ></dbz-add-character>
  </div>

</div>
